@import url("./menu.css");

header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 16px 24px;
  height: 50px;
  justify-content: space-between;
  box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

header>a>img {
  width: 100%;
  max-width: 140px;
  position: relative;
  z-index: 2;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

nav>ul {
  display: none;
  flex-direction: row;
  width: 100%;
  gap: 32px;
}

nav>ul>li:active {
  transform: scale(0.90);
}

@media (min-width: 768px) {
  header {
    padding: 12px 80px;
  }

  #menuToggle {
    display: none;
  }

  nav>ul {
    display: flex;
  }
}