@import url("./wpp-btn.css");

main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main>div {
  display: flex;
  max-width: 90vw;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

article {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

figure {
  margin: 0 auto;
}

figure>img {
  max-width: 345px;
  width: 100%;
}

.figure-mobile {
  display: block;
}

.figure-desktop {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero>h1 {
  color: #19191A;
  font-family: "Helvetica Neue";
  font-size: var(--lg);
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.hero>h2 {
  color: #19191A;
  font-family: "Helvetica Neue";
  font-size: var(--md);
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.32px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info>h3 {
  color: var(--Gray-64, #4B4B4D);
  font-size: var(--md);
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.info>p {
  color: var(--Gray-64, #4B4B4D);
  font-size: var(--sm);
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@media (min-width: 768px) {
  .figure-mobile {
    display: none;
  }

  .figure-desktop {
    display: block;
  }

  .wpp-btn {
    margin: 0;
  }

  main {
    height: calc(100% - 50px);
    text-align: left;
  }

  main>div {
    flex-direction: row;
  }

  article {
    width: 50%;
  }

  figure>img {
    width: 100%;
    max-width: 100%;
  }
}