@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/helvetica-neue/regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/helvetica-neue/bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('..//assets/helvetica-neue/medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('..//assets/helvetica-neue/light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('..//assets/helvetica-neue/ultra-light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}